.main-banner {
    width: 100%;
    margin: 80px auto 0;
    max-width: 1320px;
    background-color: var(--bg-body);
    border-radius: 20px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.banner-text a {
    background-color: var(--bg-dark);
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 0.12em;
    padding: 6px 23px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 5px;
    color: var(--text-body);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .3s;
}

.banner-text a:hover {
    color: white;
}

.banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.banner-building .slick-slide img {
    width: 100%;
    border-radius: 20px;
}

.my_block {
    width: 400px;
}

.quick-consult {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    background-color: var(--bg-dark);
    color: var(--text-body);
    font-weight: 500;
    font-size: 16px;
    padding: 18px 8px;
    text-decoration: none;
    letter-spacing: 5px;
    z-index: 1000;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .3s;
}

.quick-consult:hover {
    color: #ffffff;
}

.main-banner a::after {
    content: "\f178";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    transition: transform .3s;
}

.main-banner a:hover::after {
    transform: translateX(5px);
}

.quick-consult::before {
    content: "\f4ad";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
}

@media screen and (max-width :1200px) {}

@media screen and (max-width :820px) {
    .main-banner {
        padding: 40px 10%;
        flex-direction: column-reverse;
        gap: 20px;
        height: auto;
        align-items: flex-start;
    }

    .my_block {
        margin: auto;
    }

    .banner-text {
        width: auto;
        margin: auto;
    }

    .banner-text h1 {
        font-size: 24px;
    }

    .banner-text p {
        font-size: 13px;
    }

}

@media screen and (max-width :430px) {
    .my_block {
        width: 300px;
    }
}