/* 12欄格線系統(常用欄數) */

.container {
    margin: auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* 因為row被container包住，所以扣margin*/
    margin-left: -10px;
    margin-right: -10px;
}

[class*="row-cols-"]>.col {
    box-sizing: border-box;
    padding: 0 10px;
}

.row-cols-1>.col { width: 8.333333%;}
.row-cols-2>.col { width: 16.666666%;}
.row-cols-3>.col { width: 25%; }
.row-cols-4>.col { width: 33.333333%; }
.row-cols-5>.col { width: 41.666666%; }
.row-cols-6>.col { width: 50%; }
.row-cols-7>.col { width: 58.333333%; }
.row-cols-8>.col { width: 66.666666%; }
.row-cols-9>.col { width: 75%; }
.row-cols-10>.col { width: 83.333333%; }
.row-cols-11>.col { width: 91.666666%; }
.row-cols-12>.col { width: 100%; }

@media screen and (max-width :1200px) {
.row-cols-md-1>.col { width: 8.333333%;}
.row-cols-md-2>.col { width: 16.666666%;}
.row-cols-md-3>.col { width: 25%; }
.row-cols-md-4>.col { width: 33.333333%; }
.row-cols-md-5>.col { width: 41.666666%; }
.row-cols-md-6>.col { width: 50%; }
.row-cols-md-7>.col { width: 58.333333%; }
.row-cols-md-8>.col { width: 66.666666%; }
.row-cols-md-9>.col { width: 75%; }
.row-cols-md-10>.col { width: 83.333333%; }
.row-cols-md-11>.col { width: 91.666666%; }
.row-cols-md-12>.col { width: 100%; }
}

@media screen and (max-width :820px) {
.row-cols-md-1>.col { width: 8.333333%;}
.row-cols-md-2>.col { width: 16.666666%;}
.row-cols-md-3>.col { width: 25%; }
.row-cols-md-4>.col { width: 33.333333%; }
.row-cols-md-5>.col { width: 41.666666%; }
.row-cols-md-6>.col { width: 50%; }
.row-cols-md-7>.col { width: 58.333333%; }
.row-cols-md-8>.col { width: 66.666666%; }
.row-cols-md-9>.col { width: 75%; }
.row-cols-md-10>.col { width: 83.333333%; }
.row-cols-md-11>.col { width: 91.666666%; }
.row-cols-md-12>.col { width: 100%; }
.promise-page .item {
    margin-bottom: 30px;
}
.QA {
    padding: 0 10px;
}
}

@media screen and (max-width :430px) {
.row-cols-sm-1>.col { width: 8.333333%;}
.row-cols-sm-2>.col { width: 16.666666%;}
.row-cols-sm-3>.col { width: 25%; }
.row-cols-sm-4>.col { width: 33.333333%; }
.row-cols-sm-5>.col { width: 41.666666%; }
.row-cols-sm-6>.col { width: 50%; }
.row-cols-sm-7>.col { width: 58.333333%; }
.row-cols-sm-8>.col { width: 66.666666%; }
.row-cols-sm-9>.col { width: 75%; }
.row-cols-sm-10>.col { width: 83.333333%; }
.row-cols-sm-11>.col { width: 91.666666%; }
.row-cols-sm-12>.col { width: 100%; }
.QA {
    padding: 0 10px;
}
}