.QA .container {
    max-width: 1000px;
    background-color: #FFF7EB;
    margin: 20px auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.faq-item .answer {
    position: relative;
    display: none;
    z-index: 1;
}

.rotate-icon {
    transform: rotate(180deg);
}

.QA .container img {
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 0;
}

.QA .container .faq-item {
    position: relative;
}

.QA .container h3 {
    font-weight: 500;
}

.QA .container p {
    color: #40444D;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.QA .container .wrap svg {
    width: 35px;
    height: 35px;
    transition: transform .3s ease;
}

.QA .container .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.QA h2 {
    margin: 100px 0 50px;
}

.QA a {
    text-decoration: none;
    color: var(--text-title);
}

@media screen and (max-width :1200px) {
    .QA .container {
        margin: 20px 10px;
    }
}

@media screen and (max-width :820px) {
    .QA {
        padding: 0 10px;
    }
}

@media screen and (max-width :430px) {
    .QA h3 {
        font-size: 18px;
    }
}