.main-banner {
    background-color: #fff;
}

.banner-container {
    display: flex;
    margin: 0 auto;
    max-width: 1320px;
    align-items: center;
    height: 70vh;
}

.banner-left {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-slogan {
    writing-mode: vertical-rl;
    font-size: 36px;
    line-height: 2;
    letter-spacing: 5px;
    font-weight: 500;
    position: relative;
    left: 50px;
}

.slogan-line1 {
    position: relative;
    top: 80px;
}

.banner-cat {
    position: absolute;
    bottom: -210px;
    left: -115px;
    width: 75%;
    height: auto;
    z-index: 5;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.banner-right {
    flex: 0 1 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-building {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.quick-consult {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    background-color: #eab05a;
    color: #40444D;
    font-weight: 500;
    font-size: 24px;
    padding: 18px 8px;
    text-decoration: none;
    letter-spacing: 5px;
    z-index: 1000;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quick-consult:hover {
    color: white;
    transition: all 0.3s ease;
}