@import url('https://fonts.googleapis.com/css2?family=Alata&family=LXGW+WenKai+Mono+TC&family=Noto+Sans:ital,wght@0,500;1,500&display=swap');

.title-en {
    font-size: 24px;
    font-style: italic;
    color: #989797;
    font-family: Alata;
    letter-spacing: 0.05em;
}

.title-zh {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.12em;    
}

.banner {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 10;
    text-align: center;
}

.banner2 {
    width: 100%;
    height: auto;
}

