.header-placeholder {
    height: 150px;
}

.main-banner {
    width: 100%;
    background-color: #fff;
}

.banner-container {
    display: flex;
    margin: 0 auto;
    max-width: 1320px;
    align-items: center;
    min-height: 750px;
}

.banner-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 0;
}

.banner-slogan {
    writing-mode: vertical-rl;
    font-size: 36px;
    line-height: 2;
    letter-spacing: 5px;
    color: #202226;
    font-weight: 500;
    position: relative;
    left: 50px;
}

.slogan-line1 {
position: relative;
top: 80px;
}

.banner-cat {
    position: absolute;
    bottom: -175px;
    left: -115px;
    width: 75%;
    height: auto;
    z-index: 5;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.banner-right {
    flex: 0 1 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 350px 0;
    position: relative;
    height: 100%;
}

.banner-building {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -25px;
}

.quick-consult-btn {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    background-color: #eab05a;
    color: #40444d;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 10px;
    text-decoration: none;
    letter-spacing: 5px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quick-consult-btn:hover {
    color: white;
    transition: all 0.3s ease;
}