
        .header-container {
            display: flex;
            height: 150px;
            align-items: center;
            justify-content: space-between;
        }

        .main-header {
            background-color: #dec4a1;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .main-nav span {
            color: #40444d;
            text-decoration: none;
            text-align: center;
            letter-spacing: 0.1em;
        }

        .main-nav ul {
            display: flex;
        }

        .main-nav a {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            text-decoration: none;
        }

        .header-container .logo {
            height: 90px;
            width: auto;
            margin-left: 30px;
        }

        .main-nav li {
            margin-right: 40px;
        }

        .main-nav img {
            margin-right: 10px;
        }

        .main-nav ul li:hover span {
            color: white;
            transition: color 0.3s ease;
        }

        .main-nav ul li:hover img {
            filter: brightness(0) invert(1);
            transition: filter 0.3s ease;
        }