.product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.product-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    width: 660px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    gap: 40px;
    color: #202226;
}

.item-img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    text-align: center;
}

.item-img {
    flex: 0 0 50%;
    max-width: 50%;
}

.item-text {
    flex: 1 1 50%;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.item-text h3 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.item-text ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #40444D;
}

.item-text li {
    line-height: 1.6;
}

.item-text button {
    border-radius: 50px;
    background-color: #EAB05A;
    color: #202226;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.12em;
}

.item-text button:hover {
    color: #fff;
}

.item-text p:nth-of-type(2) {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.item-text p:nth-of-type(1) {
    color: #40444D;
}