.product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.product-container {
    display: flex;
    align-items: center;
    padding: 30px;
    max-width: 650px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    gap: 35px;
}

.product-container img {
    width: 50%;
    height: auto;
    border-radius: 20px;   
}

.item-text {
    flex-grow: 1;
    letter-spacing: 0.12em;
}

.item-text h3 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 0.12em;
}

.item-text ul {
    padding-left: 0;
    margin: 10px 0;
    color: #40444D;
}

.item-text button {
    border-radius: 50px;
    background-color: #EAB05A;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 0.12em;
}

.item-text button:hover {
    color: #fff;
}

.price {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.product-container .item-text .text {
    color: #40444D;
}