.promise-page {
    max-width: 1320px;
    margin: 0 auto;
}

.promise-page .container {
    display: flex;
    flex-wrap: wrap;
}

.promise-page .container .item {
    width: calc(25% - 30px);
    margin: 0 15px;
    text-align: center;
}

.container .item img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 20px auto;
}

.container .item h3 {
    font-size: 24px;
    margin: 10px 0;
    letter-spacing: 0.12em;
    font-weight: 500;
}

.container .item p {
    font-size: 18px;
    letter-spacing: 0.12em;
    color: #40444D;
}

.p1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.12em;
    color: #40444D;
}

.btn-container {
    text-align: center;
    margin: 60px 0;
}

.btn-container button {
    width: 320px;
    height: 54px;
    background-color: #EAB05A;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.12em;
    padding: 0 30px;
    font-weight: 500;
}

.btn-container button:hover {
    color: #fff;
}