.reviews-page {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.reviews-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.feedback-card {
    width: 623px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-right: 70px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-card::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent; 
    border-left: 20px solid rgb(255, 255, 255);
}

.rating {
    font-size: 24px;
    color: #ffc107;
}

.rating .empty {
    color: #ccc;
}

.author {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.12em;
}

.quote {
    font-size: 18px;
    letter-spacing: 0.12em;
    color: #40444D;
}

.avatars-area {
    position: relative;
    width: 450px;
    height: 450px;
    flex-shrink: 0;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 3px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.main-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    z-index: 10;
}

.avatar-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    right: 20px;
}

.avatar-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 100px;
}

.avatar-3 {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 140px;
    left: -10px;
}

.avatar-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 150px;
    right: 20px;
}

.avatar-5 {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 10px;
    left: 140px;
}

.avatar-6 {
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: 25px;
    right: 50px;
}