    .test-container {
        display: grid;
        max-width: 1320px;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto;
        width: 100vh;
    }

    .breed {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .health {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .relative {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .comb {
        grid-row: 2/3;
        grid-column: 2/4;
    }

    .test-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .test-container div {
        position: relative;
        height: 100%;
        border-radius: 20px;
        border: 3px solid white;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .test-container h3 {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        color: #40444D;
        background-color: rgba(230, 227, 227, 0.8);
        padding: 0 8px;
        border-radius: 10px;
        font-size: 20px;
        letter-spacing: 0.12em;
        font-weight: 500;
    }

    .comb h3 {
        bottom: 10px;
        right: 10px;
        left: auto;
        top: auto;
    }

    .breed h3 {
        left: 10px;
        right: auto;
    }

    .test-container a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .test-container div:hover img {
        transform: scale(1.1);
    }