    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

    body {
        background-color: #FFF7F7;
    }

    .testing-itmes {
        max-width: 1320px;
        margin: 0 auto;
    }

    .path {
        display: flex;
        font-size: 20px;
    }

    .path li {
        position: relative;
        padding: 6px 5px;
    }

    .path li a {
        color: #aaa;
        text-decoration: none;

    }

    .path li+li::before {
        content: ">";
        color: #aaa;
        position: relative;
        left: -5px;
    }

    .path li:last-child {
        color: var(--text-body);
    }

    .testing-itmes .container {
        display: flex;
        align-items: center;
        margin: 100px auto;
        max-width: 900px;
        padding: 20px;
        height: auto;
        border-radius: 20px;
        gap: 50px;
    }

    .item-img img {
        height: auto;
        border-radius: 20px;
        max-width: 100%;
    }

    .item-img {
        flex: 1 1 50%;
    }

    .item-text {
        flex: 1 1 50%;
        line-height: 30px;
        letter-spacing: 0.05em;
    }

    .item-text h2 {
        padding-bottom: 20px;
        letter-spacing: 0.12em;
        text-align: start;
    }

    .item-text ul {
        padding-left: 0;
        padding: 10px 0;
        color: #40444D;
    }

    .add-to-cart-btn {
        border-radius: 50px;
        background-color: #EAB05A;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.12em;
        transition: background-color 0.3s;
        padding: 10px 30px;
        flex-grow: 1;
        max-width: 200px;
    }

    .add-to-cart-btn:hover {
        color: #fff;
    }

    .item-text .price {
        font-size: 30px;
        margin: 20px 0;
        font-weight: 500;
    }

    .item-text p:nth-of-type(1) {
        color: #40444D;
    }

    .separate {
        display: block;
        margin: 0 auto;
        max-width: 900px;
    }

    .purchase-notice_content {
        background-color: rgba(241, 212, 169, 0.5);
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        max-width: 700px;
        margin: 100px auto;
    }

    .purchase-notice_content h3 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 0.12em;
    }

    .notice-list {
        margin: 0 auto;
        max-width: 600px;
    }

    .notice-list li {
        margin-bottom: 25px;
    }

    .notice-list h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        letter-spacing: 0.12em;
    }

    .notice-list p {
        font-size: 16px;
        color: #40444D;
        padding-left: 33px;
        letter-spacing: 0.12em;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .count_button {
        display: flex;
        align-items: stretch;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .number_input {
        width: 50px;
        text-align: center;
        border: none;
        padding: 8px 5px;
        -webkit-appearance: none;
        margin: 0;
        appearance: none;
    }

    .count_button button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .count_button button svg {
        width: 15px;
        height: 15px;
        fill: #202226;
    }

    @media screen and (max-width :820px) {
        .testing-itmes .container {
            max-width: 820px;
        }

        .separate {
            max-width: 700px;
        }

        .add-to-cart-btn {
            padding: 10px 10px;
        }

        .path {
            margin-top: 10%;
        }
    }

    @media screen and (max-width :430px) {
        .testing-itmes .container {
            flex-direction: column;
            margin: 50px auto;
        }

        .path {
            margin-top: 20%;
            font-size: 16px;
        }

        .separate {
            width: 90%;
        }

        .purchase-notice_content {
            margin: 50px 10px;
        }

    }